{
  "openapi": "3.1.0",
  "info": {
    "title": "U-Claw Activation API",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://api.u-claw.org" }],
  "paths": {
    "/health/live": {
      "get": {
        "operationId": "getLiveness",
        "responses": {
          "200": {
            "description": "Process is live",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HealthResponse" } } }
          }
        }
      }
    },
    "/health/ready": {
      "get": {
        "operationId": "getReadiness",
        "responses": {
          "200": {
            "description": "Service is ready",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HealthResponse" } } }
          },
          "503": { "$ref": "#/components/responses/503" }
        }
      }
    },
    "/v1/client-policy": {
      "get": {
        "operationId": "getClientPolicy",
        "responses": {
          "200": {
            "description": "Current client policy",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ClientPolicy" } } }
          }
        }
      }
    },
    "/v1/activations": {
      "post": {
        "operationId": "createActivation",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ActivationRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Activation bound to device",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ActivationResponse" } } }
          },
          "400": { "$ref": "#/components/responses/ActivationError" },
          "409": { "$ref": "#/components/responses/ActivationError" },
          "429": { "$ref": "#/components/responses/429" },
          "503": { "$ref": "#/components/responses/ActivationError" }
        }
      }
    },
    "/v1/activations/{activationId}": {
      "get": {
        "operationId": "getActivation",
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ActivationId" }],
        "responses": {
          "200": {
            "description": "Recover bound activation material",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ActivationResponse" } } }
          },
          "401": { "$ref": "#/components/responses/401" },
          "403": { "$ref": "#/components/responses/403" },
          "404": { "$ref": "#/components/responses/ActivationError" },
          "429": { "$ref": "#/components/responses/429" },
          "503": { "$ref": "#/components/responses/503" }
        }
      }
    },
    "/v1/activations/{activationId}/commit": {
      "post": {
        "operationId": "commitActivation",
        "parameters": [{ "$ref": "#/components/parameters/ActivationId" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ActivationCommit" } } }
        },
        "responses": {
          "204": { "description": "Activation committed" },
          "400": { "$ref": "#/components/responses/ActivationError" },
          "404": { "$ref": "#/components/responses/ActivationError" },
          "409": { "$ref": "#/components/responses/ActivationError" }
        }
      }
    },
    "/v1/licenses/{licenseId}/status": {
      "get": {
        "operationId": "getLicenseStatus",
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/LicenseId" }],
        "responses": {
          "200": {
            "description": "Redacted license status and signed receipt",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LicenseStatusResponse" } } }
          },
          "401": { "$ref": "#/components/responses/401" },
          "403": { "$ref": "#/components/responses/403" },
          "404": { "$ref": "#/components/responses/ActivationError" },
          "429": { "$ref": "#/components/responses/429" },
          "503": { "$ref": "#/components/responses/503" }
        }
      }
    },
    "/v1/device-tokens": {
      "post": {
        "operationId": "createDeviceToken",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeviceTokenRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Short-lived device token issued",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeviceTokenResponse" } } }
          },
          "401": { "$ref": "#/components/responses/401" },
          "403": { "$ref": "#/components/responses/403" },
          "429": { "$ref": "#/components/responses/429" },
          "503": { "$ref": "#/components/responses/503" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": { "type": "http", "scheme": "bearer" }
    },
    "parameters": {
      "ActivationId": {
        "name": "activationId",
        "in": "path",
        "required": true,
        "schema": { "$ref": "#/components/schemas/Identifier" }
      },
      "LicenseId": {
        "name": "licenseId",
        "in": "path",
        "required": true,
        "schema": { "$ref": "#/components/schemas/Identifier" }
      }
    },
    "responses": {
      "ActivationError": {
        "description": "Stable redacted public error",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ActivationError" } } }
      },
      "401": {
        "description": "Authentication failed",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ActivationError" } } }
      },
      "403": {
        "description": "Request forbidden",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ActivationError" } } }
      },
      "429": {
        "description": "Rate limit exceeded",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ActivationError" } } }
      },
      "503": {
        "description": "Service unavailable",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ActivationError" } } }
      }
    },
    "schemas": {
      "Identifier": {
        "type": "string",
        "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{2,127}$"
      },
      "UsbFingerprint": {
        "type": "object",
        "additionalProperties": false,
        "required": ["version", "sha256"],
        "properties": {
          "version": { "const": "uclaw-usb-v1" },
          "sha256": { "type": "string", "pattern": "^[a-f0-9]{64}$" }
        }
      },
      "ActivationRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["username", "activationCode", "usbFingerprint", "clientVersion", "idempotencyKey"],
        "properties": {
          "username": { "type": "string", "minLength": 3, "maxLength": 128 },
          "activationCode": { "type": "string", "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$" },
          "usbFingerprint": { "$ref": "#/components/schemas/UsbFingerprint" },
          "clientVersion": { "type": "string", "pattern": "^(?:0|[1-9][0-9]*)\\.(?:0|[1-9][0-9]*)\\.(?:0|[1-9][0-9]*)$" },
          "idempotencyKey": { "type": "string", "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$" }
        }
      },
      "ActivationResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["activationId", "deviceId", "licenseId", "license", "startupCredential", "builtinCredential", "status"],
        "properties": {
          "activationId": { "$ref": "#/components/schemas/Identifier" },
          "deviceId": { "$ref": "#/components/schemas/Identifier" },
          "licenseId": { "$ref": "#/components/schemas/Identifier" },
          "license": { "$ref": "#/components/schemas/StartupLicense" },
          "startupCredential": { "$ref": "#/components/schemas/StartupCredential" },
          "builtinCredential": { "$ref": "#/components/schemas/BuiltinCredential" },
          "status": { "const": "active" }
        }
      },
      "ActivationCommit": {
        "type": "object",
        "additionalProperties": false,
        "required": ["idempotencyKey", "artifactGeneration"],
        "properties": {
          "idempotencyKey": { "type": "string", "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$" },
          "artifactGeneration": { "type": "integer", "minimum": 1, "maximum": 9007199254740991 }
        }
      },
      "ActivationError": {
        "type": "object",
        "additionalProperties": false,
        "required": ["requestId", "activationId", "code", "stage", "retryable", "supportCode"],
        "properties": {
          "requestId": { "$ref": "#/components/schemas/Identifier" },
          "activationId": { "oneOf": [{ "$ref": "#/components/schemas/Identifier" }, { "type": "null" }] },
          "code": { "type": "string", "pattern": "^[A-Z][A-Z0-9_]{2,63}$" },
          "stage": {
            "type": ["string", "null"],
            "enum": ["requested", "server_bound", "committed", "failed_before_bind", null]
          },
          "retryable": { "type": "boolean" },
          "supportCode": { "type": "string", "pattern": "^[A-Z0-9][A-Z0-9-]{2,31}$" }
        }
      },
      "ClientPolicy": {
        "type": "object",
        "additionalProperties": false,
        "required": ["minimumClientVersion", "latestClientVersion", "upgradeRequired", "statusRefreshSeconds", "maximumOfflineGraceSeconds"],
        "properties": {
          "minimumClientVersion": { "type": "string", "pattern": "^(?:0|[1-9][0-9]*)\\.(?:0|[1-9][0-9]*)\\.(?:0|[1-9][0-9]*)$" },
          "latestClientVersion": { "type": "string", "pattern": "^(?:0|[1-9][0-9]*)\\.(?:0|[1-9][0-9]*)\\.(?:0|[1-9][0-9]*)$" },
          "upgradeRequired": { "type": "boolean" },
          "statusRefreshSeconds": { "type": "integer", "minimum": 1, "maximum": 86400 },
          "maximumOfflineGraceSeconds": { "type": "integer", "minimum": 0, "maximum": 86400 }
        }
      },
      "LicenseStatusSummary": {
        "type": "object",
        "additionalProperties": false,
        "required": ["licenseId", "deviceId", "status", "revision", "notBefore", "expiresAt", "replacementLicenseId", "updatedAt"],
        "properties": {
          "licenseId": { "$ref": "#/components/schemas/Identifier" },
          "deviceId": { "$ref": "#/components/schemas/Identifier" },
          "status": { "enum": ["provisioning", "active", "revoked", "reissued", "expired", "disabled"] },
          "revision": { "type": "integer", "minimum": 1, "maximum": 9007199254740991 },
          "notBefore": { "type": "string", "format": "date-time" },
          "expiresAt": { "type": "string", "format": "date-time" },
          "replacementLicenseId": { "oneOf": [{ "$ref": "#/components/schemas/Identifier" }, { "type": "null" }] },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "LicenseStatusResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["status", "receipt"],
        "properties": {
          "status": { "$ref": "#/components/schemas/LicenseStatusSummary" },
          "receipt": { "$ref": "#/components/schemas/LicenseStatusReceipt" }
        }
      },
      "StartupLicense": {
        "type": "object",
        "additionalProperties": false,
        "required": ["schemaVersion", "usernameId", "deviceId", "licenseId", "usbFingerprint", "startupSecretProof", "notBefore", "expiresAt", "revision", "signature"],
        "properties": {
          "schemaVersion": { "const": 1 },
          "usernameId": { "$ref": "#/components/schemas/Identifier" },
          "deviceId": { "$ref": "#/components/schemas/Identifier" },
          "licenseId": { "$ref": "#/components/schemas/Identifier" },
          "usbFingerprint": {
            "type": "object", "additionalProperties": false, "required": ["scheme", "sha256"],
            "properties": { "scheme": { "const": "uclaw-usb-v1" }, "sha256": { "type": "string", "pattern": "^[a-f0-9]{64}$" } }
          },
          "startupSecretProof": {
            "type": "object", "additionalProperties": false,
            "required": ["algorithm", "startupSecretSalt", "startupSecretHash"],
            "properties": {
              "algorithm": { "const": "sha256-salt-v1" },
              "startupSecretSalt": { "type": "string", "pattern": "^(?:[a-f0-9]{2}){16,64}$" },
              "startupSecretHash": { "type": "string", "pattern": "^[a-f0-9]{64}$" }
            }
          },
          "notBefore": { "type": "string", "format": "date-time", "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$" },
          "expiresAt": { "type": "string", "format": "date-time", "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$" },
          "revision": { "type": "integer", "minimum": 1, "maximum": 9007199254740991 },
          "signature": {
            "type": "object", "additionalProperties": false, "required": ["algorithm", "keyId", "value"],
            "properties": {
              "algorithm": { "const": "ed25519" },
              "keyId": { "$ref": "#/components/schemas/Identifier" },
              "value": { "type": "string", "minLength": 80, "maxLength": 256 }
            }
          }
        }
      },
      "StartupCredential": {
        "type": "object",
        "additionalProperties": false,
        "required": ["schemaVersion", "deviceId", "licenseId", "startupSecret"],
        "properties": {
          "schemaVersion": { "const": 1 },
          "deviceId": { "$ref": "#/components/schemas/Identifier" },
          "licenseId": { "$ref": "#/components/schemas/Identifier" },
          "startupSecret": { "type": "string", "minLength": 32, "maxLength": 512 }
        }
      },
      "BuiltinCredential": {
        "type": "object",
        "additionalProperties": false,
        "required": ["schemaVersion", "deviceId", "licenseId", "accessToken", "expiresAt"],
        "properties": {
          "schemaVersion": { "const": 1 },
          "deviceId": { "$ref": "#/components/schemas/Identifier" },
          "licenseId": { "$ref": "#/components/schemas/Identifier" },
          "accessToken": { "type": "string", "minLength": 16, "maxLength": 8192 },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "LicenseStatusReceipt": {
        "type": "object",
        "additionalProperties": false,
        "required": ["value"],
        "properties": { "value": { "type": "string", "minLength": 32, "maxLength": 8192, "pattern": "^[A-Za-z0-9._~-]+$" } }
      },
      "DeviceTokenRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["deviceId", "licenseId", "idempotencyKey"],
        "properties": {
          "deviceId": { "$ref": "#/components/schemas/Identifier" },
          "licenseId": { "$ref": "#/components/schemas/Identifier" },
          "idempotencyKey": { "type": "string", "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$" }
        }
      },
      "DeviceTokenResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["accessToken", "tokenType", "expiresAt"],
        "properties": {
          "accessToken": { "type": "string", "minLength": 16, "maxLength": 8192 },
          "tokenType": { "const": "Bearer" },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "HealthResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["status"],
        "properties": { "status": { "enum": ["live", "ready", "unavailable"] } }
      }
    }
  }
}
